<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ezyplanet.thousandhands.driver"
    android:label="@string/app_name"
    android:launchMode="singleTask"
    android:vmSafeMode="true">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <!-- GCM connects to Google Services. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />



    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:name=".DriverApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="true"
        android:windowSoftInputMode="adjustResize"
        tools:replace="label">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/facebook_account_kit_token" />
        <meta-data
            android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"></activity>
        <activity
            android:name="com.facebook.accountkit.ui.AccountKitActivity"
            android:theme="@style/Theme.AccountKit"
            tools:replace="android:theme" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />f
        <!-- -relase product -->
        <!-- <meta-data -->
        <!-- android:name="com.google.android.geo.API_KEY" -->
        <!-- android:value="AIzaSyBEL2K3mgTpZ2zzg4EF1zx3xEU0ZrTc510"/> -->
        <!-- Window key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCoeldy_AVU4e-RnUElNihnPHRiLd3PUtE" />
        <meta-data
            android:name="com.google.android.gms.analytics.globalConfigResource"
            android:resource="@xml/app_tracker" />
        <meta-data
            android:name="com.onesignal.NotificationAccentColor.DEFAULT"
            android:value="FF129af0" />

        <!-- <service android:name="com.ezyplanet.thousandhands.WebSocketService" /> -->
        <activity
            android:name=".ui.activity.splash.SplashActivity"
            android:configChanges="orientation|screenLayout|uiMode|screenSize|layoutDirection"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:noHistory="false"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen"
             />
        <activity
            android:name=".ui.activity.home.TaxiHomeActivity"
            android:configChanges="orientation|screenLayout|uiMode|screenSize|layoutDirection"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:noHistory="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".ui.activity.login.password.PasswordActiviity"
            android:theme="@style/SplashScreen"
            />
        <activity android:name=".ui.activity.setting.SettingActivity"
            android:theme="@style/BaseTheme"
            />

        <activity android:name=".ui.activity.pickup.TaxiPickupActivity"
            android:theme="@style/BaseTheme"
            />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4b6ae06fd50bf39f47f1dbc0b949c85b322e1370" />

        <service
            android:name="com.google.android.gms.analytics.CampaignTrackingService"
            android:enabled="true"
            android:exported="false" />



        <!-- Used for install referrer tracking -->
        <service android:name="com.ezyplanet.thousandhands.MyFirebaseMessagingService" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.ezyplanet.thousandhands.MyJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.google.android.gms.tagmanager.InstallReferrerReceiver"
            android:exported="true"
            android:permission="android.permission.INSTALL_PACKAGES">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>


        <!-- <service android:name=".managers.tracker.ServiceLocation" /> -->


        <!-- <receiver android:name="boo" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.BOOT_COMPLETED" /> -->


        <!-- <category android:name="android.intent.category.HOME" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->



    </application>

</manifest>